.article {
    @include font-size(14);
    height: 100%;
}

.article__content {
    margin-left: 1em;
    margin-right: 1em;
    color: #222;
    padding-bottom: 5em;
}

.article__intro {
    @include font-size(32);
    font-weight: bold;
    font-style: italic;
    margin-top: 0.1em;
}

.article__end {
    @include font-size(35);
    display: block;
    padding-top: 0.5em;
    text-align: center;
}