.article {
    @include font-size(14);
    height: 100%;
}

.article__content {
    margin-left: 1em;
    margin-right: 1em;
    color: #222;
    padding-bottom: 10em;
}

.article__intro {
    @include font-size(20);
    font-weight: bold;
}