.factbox {
    margin-top: 2em;
    padding: 1em;
    @include font-size(14);
    background-color: #444;
    color: white;
}

.factbox__heading {
    margin: 0;
}

.factbox__text {
    p {
        overflow: hidden;
    }

    p.is-collapsed {
        height: 0;
        margin: 0;
    }
}